img{
  border:solid;
  padding:3px;
}
h2{
  color:midnightblue;
}
h1{
  color:white;
}
h3{
  color:white;
}
img{
  background-color:blue;
}
.top
{

  background-image :url(images.jpeg);

}
  hr{
  background-color:black;
  border-style: dotted;
  width: 200px;
}
