img{
  border:blue;
}
h2{
  color:midnightblue;
}
h1{
  color:midnightblue;
}
h3{
  color:midnightblue;
}
img{
  background-color:blue;
}
.top
{
  background-color:CadetBlue;

}
  hr{
  background-color:black;
  border-style: dotted;
  width: 200px;
}
